.bg-grid{

  position:fixed;

  inset:0;

  pointer-events:none;

  background-image:
    linear-gradient(
      rgba(255,255,255,.02) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,255,255,.02) 1px,
      transparent 1px
    );

  background-size:60px 60px;

  opacity:.35;
}

.bg-orb{

  position:fixed;

  border-radius:999px;

  filter:blur(120px);

  pointer-events:none;
}

.bg-orb-a{

  width:700px;
  height:700px;

  top:-240px;
  left:-240px;

  background:
    rgba(250,204,21,.18);
}

.bg-orb-b{

  width:700px;
  height:700px;

  bottom:-240px;
  right:-240px;

  background:
    rgba(251,191,36,.14);
}